</main>
	<div class="text-center">
		<p>I"ll be back.</p>
	</div>
	<div class="list-inline">
		<div class="row">
			<div class="col-md-3">
				<img src="nosferatu-shadow.jpg">
			</div>
			<div class="col-md-3">
				<img src="wonderful-life.jpg">
			</div>
			<div class="col-md-3">
				<img src="die-hard.jpg">
			</div>
			<div class="col-md-3">
				<img src="anchorman-pic.jpg">
			</div> 
		</div> <%/* class row */%>
	</div>	
</body>
</html>