</main>
	<div class="text-center">
		<p>I"ll be back.</p>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="../nosferatu-shadow.jpg">
		</div>
		<div class="col-md-4">
			<img src="../its-a-wonderful-life-3.jpg">
		</div>
		<div class="col-md-4">
			<img src="landscape-1478879153-die-hard.jpg">
		</div>
		<div class="col-md-4">
			<img src="../anchorman.jpg">
		</div> 
	</div> <%/* class row */%>
</body>
</html>