</main>
	<div class="text-center">
		<p>"I"ll be back." - John Connor</p>
	</div>
	<div class="list-inline">
		<div class="row">
			<div class="col-md-3 img-thumbnail">
				<img src="nosferatu-shadow.jpg">
			</div>
			<div class="col-md-3 img-thumbnail">
				<img src="wonderful-life.jpg">
			</div>
			<div class="col-md-3 img-thumbnail">
				<img src="die-hard.jpg">
			</div>
			<div class="col-md-3 img-thumbnail">
				<img src="anchorman-pic.jpg">
			</div> 
		</div> <%/* class row div */%>
	</div>	<%/* inline div */%>
</body>
</html>