</main>
	<div class="row top-buffer">
		<p><strong>"I"ll be back." - John Connor</strong></p>
	</div>
	<div class="posters container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-3">
				<img src="nosferatu_2.jpg"  style="height: 380px;">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
				<img src="toystory.jpg"  style="height: 380px;">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
				<img src="die-hard.jpg" style="height: 380px;">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
				<img src="bridesmaids.jpg" style="height: 380px;">
			</div> 
		</div> <%/* class row div */%>
	</div>	<%/* inline div */%>
</body>
</html>