<% include ./partials/header.ejs %>
<div class="text-center">
	<p>Welcome!</p>
</div>
<div class="search">
	<div class="row">
		<div class="col-lg-4 img-responsive">
			<h1>Search for a movie</h1>
		</div>
		<div class="col-lg-4 img-responsive">
		<form class="form" action="/movieSearch" method="POST"> 
		  	<input class="form-control" max-width"50%" name="text" placeholder="Title">
		</div> 
		<div class="col-lg-4 img-responsive">
		  	<input class="btn btn-secondary" type="submit">
		</div>
	<!-- 	  <button type="button" class="btn btn-secondary">Search</button> -->
		</form>
	</div> 
</div>
<% include ./partials/footer.ejs %>