<% include ./partials/header.ejs %>
Welcome!
<h1>Search for a movie</h1>
<form action="/movieSearch" method="POST"> 
  <input name="text" placeholder="Title">
  <input type="submit">
</form>
<% include ./partials/footer.ejs %>